.footer {
    background: $bgPurpleToTransInv;
    width: 100%;
    margin-bottom: 80px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-content: center;
    @media (min-width: $mobileToTablet ) {
        position: fixed;
        bottom: 0;
        margin: 0;
    }
    &_social {
        display: flex;
        justify-content: center;
        &_icon {
            width: 20px;
            height: 20px;
            margin: 12px 15px;
            transition: all 0.2s ease;
            &:nth-child(1) {
                background: url(../assets/images/icons/facebook.svg) no-repeat center;
                background-size: cover;
                &:hover {
                    background: url(../assets/images/icons/facebook-anim.svg) no-repeat center;
                background-size: cover;
                }
            }
            &:nth-child(2) {
                background: url(../assets/images/icons/instagram.svg) no-repeat center;
                background-size: cover;
                &:hover {
                    background: url(../assets/images/icons/instagram-anim.svg) no-repeat center;
                    background-size: cover;
                }
            }
            &:nth-child(3) {
                background: url(../assets/images/icons/twitter.svg) no-repeat center;
                background-size: cover;
                &:hover {
                    background: url(../assets/images/icons/twitter-anim.svg) no-repeat center;
                background-size: cover;
                }
            }
        }
    }
    &_text {
        color: $white-Lgh;
        margin: 12px 25px 0 25px;
        font-family: $Qs-Reg;
        font-size: $xSml;
        text-align: center;
    }
    &_copyright {
        color: #fff;
        margin: 0 0 25px 0;
        font-family: $Qs-Reg;
        font-size: $Sml;
        text-align: center;
    }
}