.menu {
    background: $blocPurpleTotrans;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    z-index: 10;
    @media (min-width: $mobileToTablet) {
        background: transparent;
        width: 80px;
        top: 100px;
        left: 25px;
    }
    &_nav {
        display: flex;
        justify-content: space-between;
        margin: 0 25px;
        height: auto;
        &_icon {
            height: 30px;
            width: 30px;
            margin: 15px 0;
            position: relative;
            transition: all 0.2s ease;
            @media (min-width: $mobileToTablet) {
                margin: 25px 0;
            }
            &:after {
                color: #fff;
                font-family: $Qs-Reg;
                font-size: $xSml;
                text-decoration: none;
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translate(-50%, 0);

            }
            &:nth-child(1) {
                background: url('../assets/images/icons/menu/home.svg') no-repeat center;
                background-size: cover;
                &:hover {
                    background: url('../assets/images/icons/menu/home-anim.svg') no-repeat center;
                    background-size: cover;
                }
                &:after {
                    content: 'Accueil';

                }
            }
            &:nth-child(2) {
                background: url('../assets/images/icons/menu/packs.svg') no-repeat center;
                background-size: cover;
                &:hover {
                    background: url('../assets/images/icons/menu/packs-anim.svg') no-repeat center;
                    background-size: cover;
                }
                &:after {
                    content: 'Packs';

                }
            }
            &:nth-child(3) {
                background: url('../assets/images/icons/menu/spaceship.svg') no-repeat center;
                background-size: cover;
                &:hover {
                    background: url('../assets/images/icons/menu/spaceship-anim.svg') no-repeat center;
                    background-size: cover;
                }
                &:after {
                    content: 'Transports';

                }
            }
            &:nth-child(4) {
                background: url('../assets/images/icons/menu/planet.svg') no-repeat center;
                background-size: cover;
                &:hover {
                    background: url('../assets/images/icons/menu/planet-anim.svg') no-repeat center;
                    background-size: cover;
                }
                &:after {
                    content: 'Planètes';

                }
            }
            &:nth-child(5) {
                background: url('../assets/images/icons/menu/spacemodule.svg') no-repeat center;
                background-size: cover;
                &:hover {
                    background: url('../assets/images/icons/menu/spacemodule-anim.svg') no-repeat center;
                    background-size: cover;
                }
                &:after {
                    content: 'Habitations';

                }
            }
            &_generated {
                display: flex;
                align-items: center;
            }
            &_generated_img {
              width: 30px; border-radius: 100px;
              position: absolute;
              top: 16px;
              @media (min-width: $mobileToTablet) {
                    position: relative;
                    top: 0;
                }
            }

        }
        @media (min-width: $mobileToTablet) {
            flex-direction: column;

        }
    }

}
.signIcon {
     background-image: url('../assets/images/icons/menu/user.svg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    &:after {
        content: 'Connexion' !important;

    }
    &:hover {
        background-image: url('../assets/images/icons/menu/user-anim.svg') !important;
    }
}
