.userform {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &_container {
    width: 100vw;
    @media (min-width: $mobileToTablet ) {
      margin: 90px 0 120px;
    }
  }
  &_title {
    font-size: $xBig;
    font-family: $Ex-Thn;
    text-align: center;
    margin-bottom: 3vh;
  }
  &_container_first {
    width: 60vw;
    margin: auto;
    display: none;
    @media (min-width: $mobileToTablet ) {
      width: 50vw;
      margin: auto;
    }
  }
  &_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 90px;
    @media (min-width: $mobileToTablet ) {
      align-items: center;
      margin-bottom: 0;
    }
    &_select {
      color: #fff;
      background: $bgPurple;
      border: 1px $yellow solid;
      border-radius: 200px;
      width: 100%;
      max-width: 250px;
      height: 40px;
      margin: 20px 0;
      padding: 5px;
      font-family: $Qs-Reg;
      font-size: $Reg;
      text-align: center;
    }
    &_label {
      color: #fff;
      font-family: $Qs-Reg;
      font-size: $xSml;
      padding: 12px 10% 0;
      line-height: 1.25;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      @media (min-width: $tabletToDesktop ) {
        text-align: left;
        margin-left: 22vw;
        font-size: $Sml;
      }
    }
    &_input {
      color: #fff;
      background: $bgPurple;
      border: 1px $yellow solid;
      border-radius: 100px;
      width: 100%;
      max-width: 250px;
      height: 20px;
      margin: 10px 0;
      padding: 10px 0;
      font-family: $Qs-Reg;
      font-size: $Reg;
      text-align: center;
    }
    &_next {
      color: #fff;
      background: $yellow;
      border: 1px $yellow solid;
      border-radius: 100px;
      width: 50%;
      max-width: 175px;
      height: 20px;
      margin-left: 80px;
      margin-top: 10px;
      padding: 10px;
      font-family: $Qs-Reg;
      font-size: $Reg;
      text-align: center;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background: $bgPurple;
      }
      @media (min-width: $tabletToDesktop ) {
        margin-left: 10px;
      }
    }

  }
  &_container_second {
    width: 60vw;
    margin: auto;
    display: none;
    @media (min-width: $mobileToTablet ) {
      width: 50vw;
      margin: auto;
    }
  }
  &_container_third {
    width: 60vw;
  &_error_title {
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &_error_link {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
}
&_container_third {
  width: 60vw;
  margin: auto;
  // display: none;
  @media (min-width: $mobileToTablet ) {
    width: 50vw;
    margin: auto;
    // display: none;
    @media (min-width: $mobileToTablet ) {
      width: 50vw;
      margin: auto;
    }
  }
}


.userform_form_submit {
  color: #fff;
  background: $yellow;
  border: 1px $yellow solid;
  border-radius: 100px;
  width: 50%;
  max-width: 175px;
  height: 40px;
  margin-left: 80px;
  margin-top: 10px;
  padding: 10px;
  font-family: $Qs-Reg;
  font-size: $Reg;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background: $bgPurple;
  }
  @media (min-width: $tabletToDesktop ) {
    margin-left: 10px;
  }
}
}