@font-face {
	font-family: "Quicksand-Regular";
    src: url('../assets/fonts/Quicksand/Quicksand-Regular.ttf');
}
@font-face {
	font-family: "Quicksand-Medium";
	src: url('../assets/fonts/Quicksand/Quicksand-Medium.ttf');
}
@font-face {
	font-family: "Quicksand-Bold";
	src: url('../assets/fonts/Quicksand/Quicksand-Bold.ttf');
}
@font-face {
	font-family: "Quicksand-Light";
	src: url('../assets/fonts/Quicksand/Quicksand-Light.ttf');
}

@font-face {
	font-family: "Exo2-Regular";
	src: url('../assets/fonts/Exo2/Exo2-Regular.ttf');
}
@font-face {
	font-family: "Exo2-Thin";
	src: url('../assets/fonts/Exo2/Exo2-Thin.ttf');
}
@font-face {
	font-family: "Exo2-ThinItalic";
	src: url('../assets/fonts/Exo2/Exo2-ThinItalic.ttf');
}
@font-face {
	font-family: "Exo2-ExtraLight";
	src: url('../assets/fonts/Exo2/Exo2-ExtraLight.ttf');
}
@font-face {
	font-family: "Exo2-ExtraLightItalic";
	src: url('../assets/fonts/Exo2/Exo2-ExtraLightItalic.ttf');
}
@font-face {
	font-family: "Exo2-Light";
	src: url('../assets/fonts/Exo2/Exo2-Light.ttf');
}
@font-face {
	font-family: "Exo2-LightItalic";
	src: url('../assets/fonts/Exo2/Exo2-LightItalic.ttf');
}
@font-face {
	font-family: "Exo2-Medium";
	src: url('../assets/fonts/Exo2/Exo2-Medium.ttf');
}
@font-face {
	font-family: "Exo2-ExtraBold";
	src: url('../assets/fonts/Exo2/Exo2-ExtraBold.ttf');
}
@font-face {
	font-family: "Exo2-Bold";
	src: url('../assets/fonts/Exo2/Exo2-Bold.ttf');
}





