@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');


@font-face {
	font-family: "Quicksand-Regular";
    src: url('../assets/fonts/Quicksand/Quicksand-Regular.ttf');
}
@font-face {
	font-family: "Quicksand-Medium";
	src: url('../assets/fonts/Quicksand/Quicksand-Medium.ttf');
}
@font-face {
	font-family: "Quicksand-Bold";
	src: url('../assets/fonts/Quicksand/Quicksand-Bold.ttf');
}
@font-face {
	font-family: "Quicksand-Light";
	src: url('../assets/fonts/Quicksand/Quicksand-Light.ttf');
}
@font-face {
	font-family: "Adam";
	src: url('../assets/fonts/Adam.otf');
}
