html {
    font-size: 62.5%;
    // overflow-x: hidden;
}
body {
    display: flex;
    overflow-x: hidden;
}

::placeholder {
    color: $white-Lgh;
}

// Displayed / Undisplayed classes
.is-flex {
    display: flex !important;
}
.isnt-flex {
    display: none;
}
.is-invisible {
    visibility: hidden;
    opacity: 0;
    height: 0;
}
.is-visible {
    visibility: visible !important;
    opacity: 1 !important;
    height: auto;
}

// Colored menu
.packsColored {
    background: url('../assets/images/icons/menu/packs-anim.svg') no-repeat center !important;
    background-size: cover !important;
}
.spaceshipColored {
    background: url('../assets/images/icons/menu/spaceship-anim.svg') no-repeat center !important;
    background-size: cover !important;
}
.planetColored {
    background: url('../assets/images/icons/menu/planet-anim.svg') no-repeat center !important;
    background-size: cover !important;
}
.spaceoduleColored {
    background: url('../assets/images/icons/menu/spaceodule-anim.svg') no-repeat center !important;
    background-size: cover !important;
}

// Personnal scrollbar
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: $bgPurple;
}
::-webkit-scrollbar-thumb {
    background: $yellow;
    transition: all 0.25s ease-out;
}
::-webkit-scrollbar-thumb:hover {
    background: #f9a012;
}
::-webkit-scrollbar-thumb:active {
    background: #BB3800;
}

// Personnal selection color
::selection {
color: #000;
background: $yellow; /* WebKit/Blink Browsers */
}
::-moz-selection {
    color: #000;
background: $yellow; /* Gecko Browsers */
}
