html {
    font-size: 62.5%;
}
body {
    display: flex;
    overflow-x: hidden;
}

::placeholder {
    color: $white-Lgh;
}
.is-flex {
    display: flex !important;
}
.isnt-flex {
    display: none;
}