html {
    font-size: 62.5%;
}
body {
    display: flex;
    //overflow-x: hidden;
}

::placeholder {
    color: $white-Lgh;
}
.is-flex {
    display: flex !important;
}
.isnt-flex {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
    
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: $bgPurple;
}
::-webkit-scrollbar-thumb {
    background: $yellow;
    transition: all 0.25s ease-out;
}
::-webkit-scrollbar-thumb:hover {
    background: #f9a012;
}
::-webkit-scrollbar-thumb:active {
    background: #BB3800;
}

::selection {
    color: #000;
    background: #ffd800; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
      color: #000;
    background: #ffd800; /* Gecko Browsers */
  }

