// Colors ---------------------------------------
$bgPurple: #0E0224;
$blocPurple: #17043A;
$pathPurple: #251533;
$menuPurple: #282037;
$lghPurple: #60006B;
$yellow: #E2A855;
$white-Lgh: #adadad;
$red: #7F0624;
$packPurple: #391759;
$aio: #45FFD0;
$aio-Drk: #0D2F26;
$custom: #FF7925;
$custom-Drk: #2F1607;

$spaceship: #D4564A;
$planet: #2AB2A4;
$spacemodule: #6380CE;

// Linear-gradient ------------------------------
$LghPurpleTobgPurple: linear-gradient($lghPurple 0%, $bgPurple 70%);
$bgPurpleToTrans: linear-gradient($bgPurple 80%, transparent 100%);
$bgPurpleToTransInv: linear-gradient(0turn,$bgPurple 90%, transparent 100%);
$blocPurpleTotrans: linear-gradient(0turn,$blocPurple 90%, transparent 100%);

$aioToPurple: linear-gradient($aio, $packPurple);
$aioToAioDrk: linear-gradient($aio, $aio-Drk);
$customToCustomDrk: linear-gradient($custom, $custom-Drk);


$spaceshipToPurple: linear-gradient($spaceship, $packPurple);

$planetToPurple: linear-gradient($planet, $packPurple);


$spacemoduleToPurple: linear-gradient($spacemodule, $packPurple);

// Font-family ----------------------------------
$Qs-Reg: 'Quicksand-Regular', sans-serif;
$Qs-Med: 'Quicksand-Medium', sans-serif;
$Qs-Bld: 'Quicksand-Bold', sans-serif;
$Qs-Lgh: 'Quicksand-Light', sans-serif;

$Ex-Thn: 'Exo2-Thin', sans-serif;
$Ex-ThnItlc: 'Exo2-ThinItalic', sans-serif;
$Ex-Lgh: 'Exo2-Light', sans-serif;
$Ex-LghItlc: 'Exo2-LightItalic', sans-serif;
$Ex-xLgh: 'Exo2-ExtraLight', sans-serif;
$Ex-xLghItlc: 'Exo2-ExtraLightItalic', sans-serif;
$Ex-Reg: 'Exo2-Regular', sans-serif;
$Ex-Med: 'Exo2-Medium', sans-serif;
$Ex-Bld: 'Exo2-Bold', sans-serif;
$Ex-sBld: 'Exo2-SemiBold', sans-serif;

// Font-size ------------------------------------
$tooBig: 7.2rem;
$xxBig: 4.8rem;
$xBig:3.6rem;
$midBig: 3rem;
$Big: 2.4rem;
$xxReg: 2rem;
$xReg: 1.8rem;
$Reg: 1.6rem;
$Sml: 1.4rem;
$xSml: 1.2rem;
$xxSml: 1rem;

// Responsive breakpoints -----------------------
$bp-tablet: 600px;
$bp-desktop: 949px;
$bp-desktop-large: 1200px;
$bp-desktop-x-large: 1800px;

$mobileToTablet: 600px;
$tabletToDesktop: 900px;