// Colors ---------------------------------------
$bgPurple: #0E0224;
$blocPurple: #17043A;
$pathPurple: #251533;
$lghPurple: #60006B;
$yellow: #E2A855;
$white-Lgh: #adadad;


// Linear-gradient ------------------------------

$LghPurpleTobgPurple: linear-gradient($lghPurple 0%, $bgPurple 70%);

// Font-family ----------------------------------
$Qs-Reg: 'Quicksand-Regular', sans-serif;
$Qs-Med: 'Quicksand-Medium', sans-serif;
$Qs-Bld: 'Quicksand-Bold', sans-serif;
$Qs-Lgh: 'Quicksand-Light', sans-serif;
$Adm: 'Adam';

// Font-size ------------------------------------
$tooBig: 7.2rem;
$xxBig: 4.8rem;
$xBig:3.6rem;
$Big: 2.4rem;
$xxReg: 2rem;
$xReg: 1.8rem;
$Reg: 1.6rem;
$Sml: 1.4rem;
$xSml: 1.2rem;
$xxSml: 1rem;

// Responsive breakpoints -----------------------
$bp-tablet: 600px;
$bp-desktop: 949px;
$bp-desktop-large: 1200px;
$bp-desktop-x-large: 1800px;